<!DOCTYPE html>
<html> 
<head>
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "static/css/estilos.css" rel = "stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>

    <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <header>
        <div class="principal">
            <img src= "static/img/logo-mercado-liebre.svg">
            <div class = "botonn">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
            <div id="divc">
                <i class="fas fa-hand-holding-usd"></i>
        
                   Comprá en cuotas y sin tarjeta de crédito
                </div>
        </div>
       <div class = "contenedorNavbar">
        <ul>
            <li>
             <a href="#Ofertas">Ofertas</a>
            </li>
            <li>
                <a href="#Tiendas Oficiales">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="#Vender">Vender</a>
            </li>
               <li>
                <a href="#Ayuda">Ayuda</a>
               </li>
        </ul>
        <ul>
        <li>
            <a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a>
           </li>
           <li>
               <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
           </li>
           <li>
               <a href="#Mis compras">Mis compras <i class="fas fa-shopping-basket"></i></a>
           </li>

        </ul>
    </div>
        <div class="burger-menu">
          <i class="fas fa-bars barra"></i>
        </div>
    </header>
    <div class="contenedorBanner">
        <img src= "static/img/banner.jpg">
     </div> 
    <main>
        <div>
        <h2 class="bas">Basado en tu última visita</h2>
    </div>
    <div class="contenedorarticulo">
        <div class="articulo">
        <img src="/static/img/molinera.jpg">
        <div class ="detallesArticulo">
            <i class="fas fa-truck truck"></i>
            <div class = "totalPrecio">
            <p class ="precio">$6.770</p>   
            <p class="desc">40% OFF</p>
        </div>
           <b class="descripcion">Cafetera Mouline</b>
    </div>
        </div>
    <div class="articulo">
        <img src="static/img/mac.jpg">
        <div class ="detallesArticulo">
            <i class="fas fa-truck truck"></i>
           <div class = "totalPrecio">
            <p class ="precio"> $6.770 
        </p>
        <p class="desc">
            40% OFF
        </p>
        </div>

          <b class="descripcion">
            MacBook Pro 2019
          </b>
        </div>
        </div>
        <div class="articulo">
        <img src="static/img/samgax.jpg">
        <div class ="detallesArticulo">
            <i class="fas fa-truck truck"></i>
           <div class = "totalPrecio"> 
               <p class ="precio">
            $70.500
        </p>  
        <p class="desc">
            10% off
        </p> 
    </div>
         <b class="descripcion"> 
           Samsung Galaxy S10
         </b>  
        </div>
        </div>
        <div class="articulo">
          <img src="static/img/tvsam.jpg">
            <div class ="detallesArticulo">
                <i class="fas fa-truck truck"></i>
                <div class = "totalPrecio">
                    <p class ="precio">
               $23.200
             </p>
             <p class="desc">
               5% off
             </p>
            </div>
             <b class="descripcion">
               SmartTv Samsung 43"
             </b>
            </div>
    </div>
</div>
    </main>


<footer>
    <section class="footer">
        <div class="itemfooter">
    <div><i class="fas fa-credit-card"></i>
    </div>
<b>
      Pagá con tarjeta o en efectivo
</b>
<p>
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
</p>
</div>
<div class="itemfooter">
    <div>
<i class="fas fa-gift"> <class='color'> </i>
</div>

<b>
    Envío gratis desde $ 2.500
</b>
<p>
    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
</p>

</div>
<div class="itemfooter">
<div><i class="fas fa-user-shield"></i>
</div>
<b>
    Seguridad, de principio a fin
</b>
<p>
    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
</p>
</div>

<b id="copy">
    Copyright © 1999-2020 MercadoLiebre S.R.L.
</b>


</section>
</footer>
</body>
</html>